body {
    min-height: 100vh;
    background-color: rgb(249, 251, 250);
}

.container {
    overflow: hidden;
}

.iframe_box {
    background: #FFFFFF;
    border: none;
    border-radius: 9px;
    transition: box-shadow 500ms;
    min-height: 400px;
    cursor: pointer;
    margin: 5px;
    width: calc(100% - 10px);
    border: 1px solid #ccc;
    height: calc(100% - 10px);
}

.iframe_box:hover {
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
}

.btn {
    background-color: rgba(249, 251, 250, 0.7);
    border: 1px solid rgb(136, 147, 151);
    margin: 0 5px;
    color: rgb(0, 30, 43);
    transition: background-color 0.5s, box-shadow 0.5s;
}

.btn:hover {
    box-shadow: 0 0px 0px 3px rgba(232, 237, 235, 0.5);
    border: 1px solid rgb(136, 147, 151);
}

.row>* {
    padding: 0;
}

.map {
    width: 100%;
    height: 75vh;
    border: 1px solid #ccc;
    border-radius: 9px;
    transition: box-shadow 500ms;
    cursor: pointer;
}

.map_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.active {
    background-color: rgba(232, 237, 235, 0.7);
}

.navbar {
    background-color: rgba(249, 251, 250, 0.7);
    padding: 10px 0;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    backdrop-filter: saturate(180%) blur(20px);
}

.navbar-btngroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-btngroup>.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    margin: 0 5px;
    color: #000;
    font-size: 1.5rem;
}

.slide-left {
    animation: slide-left 0.5s forwards;
}

.slide-right {
    animation: slide-right 0.5s forwards;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.maptitle {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 9px;
    margin: unset;
    margin-bottom: 10px;
    background: #FFFFFF;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}